{% extends "base.html" %}
{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<h1>{{ titulo }}</h1>

<form method="post" novalidate>
  {{ form.hidden_tag() }}
  <div class="field">
    <label>Nombre</label>
    {{ form.nombre(class="input") }}
    {% for e in form.nombre.errors %}<small class="error">{{ e }}</small>{% endfor %}
  </div>

  <div class="actions">
    <button class="btn primary" type="submit">{{ form.enviar.label.text }}</button>
    <a class="btn secondary" href="{{ url_for('mysql_categorias') }}">Cancelar</a>
  </div>
</form>
{% endblock %}
